.card {
  box-shadow: 1px 1px 15px rgb(0, 0, 0, 0.3);
  border-radius: 30px;
  background: #f7f7f7;
  transition: transform 0.3s; /* Adding transition for smooth effect */
}

.card:hover {
  transform: scale(1.05); /* Increasing size on hover */
}

.card-footer {
  background: #f32d2d;
  color: #fffefe;
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.carousel-caption {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.9);
  font-size: 17px;
}
.carousel-caption h3 {
  font-size: 30px;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

.flexitems {
  margin-bottom: 360px;
}

@media (max-width: 425px) {
  .flexitems {
    margin-bottom: 200px;
  }
}
.item:nth-child(1) {
  background-image: url("../images/bg/1.jpg");

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.show {
  visibility: visible !important;
}

.item:nth-child(2) {
  background-image: url("../images/bg/2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.item:nth-child(3) {
  background-image: url("../images/bg/3.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
